* {box-sizing: border-box; }
body{
    background-color: lightyellow !important;
}


.name{
    font-family: Verdana;
    text-shadow: 2px 1px white;
    font-size:14px;
    font-style: italic;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    position:relative;

}

.wrapper {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

 }

 .grid{
     display:grid;
     width:80%;
     max-width:800px;
     min-width:300px;
     height:90%;
     grid-gap:10px;
     grid-column-gap: 10px;
     padding:10px;
     background-color: black;
     grid-template-columns: 6fr 1fr;
     grid-template-rows: 1fr 6fr 1fr;
     box-shadow: 5px 10px 20px 10px rgba(255, 255, 255, 0.6);
 }

 #chatwindow {
     border: 2px solid gold;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     grid-row:2;
     grid-column-start:1;
     grid-column-end: 7;
     display:flex;
     flex-direction:column;
     justify-content: center;
     align-items:center;
 }
 
.logingrid{
    display:grid;
    width:80%;
    max-width:800px;
    min-width:300px;
    height:80%;
    min-height:200px;
    grid-gap:10px;
    grid-column-gap: 10px;
    padding:10px;
    background-color: black;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr 6fr;
    box-shadow: 5px 10px 20px 10px rgba(255, 255, 255, 0.6);
}

a:link, a:active, a:visited{
    color:blue;
}
 .grid div {
     border: 0px solid rgb(0,95, 107);
 }

.add {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
 }

 #myWords
 {
     grid-column:1;
     grid-column-start: 1;
     grid-column-end: 6;
     grid-row:3;
     justify-content:center;
     align-items:left;
     display:flex;
     flex-direction:column;
     border-radius:10px;
 }

 #mySend, #login{
     grid-column:6;
     grid-row:3;
     padding:10px;
 }

 .grid, #myChat, .textboxes, .title, #myText, #myWords,
 .add, #message, #mySend, .messages {
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
 }

.messages, .logindiv, .register {
    border: 2px solid gold;
    grid-row:2;
    grid-column-start:1;
    grid-column-end: 7;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding:10px;
    max-height:500px;
}

.logindiv {
    resize: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    height: 100%;
}

.messages #textmessages {
    resize: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    height: 60%;
}

#message{
    padding: 10px;
    width: 100%;
    resize: none;
}

.labels {
    padding: 10px;
    color:white;
    font-family: Verdana;
}

.textboxes{
    width:100%;
    padding: 10px;
}

.colorGradientRebeccaPurple{
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e1e9a+0,752ad8+50,6d20ca+51,aa7ee8+100 */
     background: #5e1e9a; /* Old browsers */
     background: -moz-linear-gradient(top, #5e1e9a 0%, #752ad8 50%, #6d20ca 51%, #aa7ee8 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top, #5e1e9a 0%,#752ad8 50%,#6d20ca 51%,#aa7ee8 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, #5e1e9a 0%,#752ad8 50%,#6d20ca 51%,#aa7ee8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e1e9a', endColorstr='#aa7ee8',GradientType=0 ); /* IE6-9 */

 }

 .title{
     grid-row:1;
     grid-column-start:1;
     grid-column-end:7;
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
     font-size:100%;
     padding-bottom:0;
     margin-bottom:0;
     border-radius:10px;
 }


@media screen and (min-width: 576px) {
    #messages,#myChat,.name {
        width:97%;
    }
    #message {
        width:95%;
    }
}

@media screen and (min-width: 768px) {
    #myChat, #message, #textmessages, .name {
        font-size:24px;
    }

    #messages, #mySend {
        width:97%;
        height:97%
    }

    #messages {
        width:97%;

    }

    #add, #login, #register, #message {
        font-size:20px;
    }
}
